Repository 466-mysequel/fitnesstracker, pull requests merged in 2020-12, with the labels that each got.

#69 Workouts page: Add/browse workouts
  public_html/workouts.php
  src/db.php
  src/library.php
  templates/header.php
Labels: html, php

#74 Meals page
  public_html/foods.php
  sql/views.sql
  src/db.php
Labels: enhancement, html, js, php

#80 Workouts page
  public_html/workouts.php
  src/db.php
Labels: feature, html, php

#82 Meals page
  public_html/foods.php
  sql/views.sql
  src/db.php
  src/library.php
Labels: enhancement, html, php

#91 Fix bug that adding a new workout type causes a blank page
  public_html/workouts.php
Labels: bug, php
