Repository 466-mysequel/fitnesstracker, pull requests merged in 2020-11, with the labels that each got.

#58 Add get_macro_calories function and views
  sql/tables.sql
  sql/views.sql
  src/db.php
Labels: php, sql

#63 Fix bug that setup.php does not reset the database
  templates/setup.php
Labels: bug, php

#68 Add admin page
  public_html/admin.php
Labels: feature, html, php
